
<% breadcrumb :show_category, @category %>

<div class="page-header">
  <h3><%= @category.name %></h3>
</div>

<%= render 'tab' %>

<%= form_for [:admin, @category, @page] do |f| %>

  <%= f.kindeditor :content %>

  <div class="form-control-static">
    <%= f.submit "保存", :class => "btn btn-primary" %>
  </div>

<% end %>